@use './var.scss' as v;


* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

a {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border: 0;
  vertical-align: middle;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
  padding: 0;
}
a.learn-more {
  width: 15rem;
  height: auto;
}
a.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: v.$point-color;
  border-radius: 1.625rem;
}
a.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
a.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
a.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
a.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.3rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  text-align: center;
  text-transform: uppercase;
}
a:hover .circle {
  width: 100%;
}
a:hover .circle .icon.arrow {
  background: #fff;
  -webkit-transform: translate(1rem, 0);
          transform: translate(1rem, 0);
}
a:hover .button-text {
  color: #fff;
}
